body {
  font-family: 'Forum', cursive;
}

@font-face {
  font-family: GalaxiePolaris;
  src: url('./GalaxiePolaris-Medium.otf');
}


@font-face {
  font-family: GalaxiePolarisCondensed;
  src: url('./GalaxiePolarisCondensed-Medium.otf');
}

/* label focus color */
 .input-field input[type=text]:focus {
   color: rgba(90,171,188,0.5) !important;
 }

#titleRow {
  background-color: rgb(177, 141, 3);
  height: 50px;
  margin-bottom: 0px;
  background-image: url('https://www.nd.edu/assets/images/brandbar/dept-nd-blue@2x.png'), url('https://www.nd.edu/assets/images/brandbar/dept-staf-blue@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5%, 95%;
}

#titleRowUND {
  background-color: rgb(177, 141, 3);
  height: 50px;
  margin-bottom: 0px;
  border-bottom: 1.5px solid #002b5c;
  background-image: url('https://www.nd.edu/assets/images/brandbar/dept-nd-blue@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#titleRowDSA {
  background-color: rgb(177, 141, 3);
  height: 50px;
  margin-bottom: 0px;
  background-image: url('https://www.nd.edu/assets/images/brandbar/dept-staf-blue@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#brandBar {
  color: white;
}

#brandBar i {
  color: white !important;
}

#brandRow {
  background-color: #002b5c;
  height: 125px;
  margin-bottom: 0px;
}

#brandRow .col.s8 {
  padding-right: 0px;
}

#searchBar {
  margin-top: 40px;
  padding-right: 30px;
}

div.input-field.inline {
  width: 100%;

}

.navbar {
  text-align: center;
  /* font-family: GalaxiePolarisCondensed !important; */
  background-color: #002b5c;
}

.navbar a {
  margin-right: -4px;
}

.element a {
  position: relative;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #002b5c;
  color: white;
  font-size: 24px;
  border: 2px solid #002b5c;
  float: left;
}

.element a:hover {
  background-color: rgb(177, 141, 3);
}

.element {
  position: relative;
  display: inline-block;
}


.contained {
  display: none;
  position: absolute;
  z-index: 1;
  top: 47px;
}

.contained a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: inherit;
}

.contained a:hover {
  background-color: rgb(177, 141, 3);
}

.dropdown:hover .contained {
    display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(177, 141, 3);;
}

h1, h2, h3{
  text-align: center;
}


p {
  font-size: 15px;
}

table {
  height: 200%;
}

th {
  font-weight: bold;
  font-size: 20px;
  height: 10%;
}

th, td {
  text-align: center;
  border: 1px solid rgb(200,200,200);
}

td {
  height: 45%;
}

#Ttitle {
  width: 30%;
}

#Tevent {
  width: 60%;
}

#Tdate {
  width: 10%;
}


.bottom {
  font-size: 17px;
  margin-bottom: 0px;
  background-color: rgb(177, 141, 3);
}

#NDlogo {
  width: 110%;
}

.bottom .material-icons {
  font-size: 12px;
}

.dropbtn .material-icons, .contained .material-icons {
  font-size: 20px;
}
/*
#FAQs .collapsible-header {
  text-align: center !important;
}

#FAQs .collapsible-header span {
  display: inline-block !important;
} */

.collapsible-header {
   font-size: 23px;
   font-weight: bold;
}

.collapsible-body {
  font-size: 19px;
}

.collapsible-body li b {
  text-decoration: underline;
}
iframe {
  text-align: center;
}

.card {
  background-color: #002b5c;
}


.newsAction a, .card-content a {
  margin-right: 5px !important;
  text-transform: none !important;
  text-decoration: underline !important;
  color: white !important;
}

.parallax-container {
    height: 400px;
}


div.backgroundDiv {
  background: url("./stainedglass.jpg");
  background-size: 100px 500px;
  border: 1px inset black;
  margin-bottom: 50px;
}


div.insideText {
  background-color: #e1e1e1;
  text-align: center;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=87); /* For IE8 and earlier */
}

div.insideText h4 {
  font-size: 42px !important;
}

div.insideText p {
  margin: 5%;
  font-weight: bolder;
  color: #111111;
  font-size: 20px;
}

.bottom a {
  color: black;
  text-decoration: underline;
}


.collection a {
  color: black !important;
  font-size: 23px;
}

.collection a:hover {
  font-size: 30px;
  color: white !important;
  background-color: #002b5c !important;
}

.card-title:not(.moreinfo) {
  font-weight: bold !important;
  font-size: 1.5vw !important;
  width: 100%;
  padding: 5% !important;
}

#people .card-content {
  background-color: #002b5c;
}


#people .card-content p {
  font-size: 1.4vw;
  text-align: center;
  color: white !important;
}

#people .card-action {
  background-color: rgb(177, 141, 3) !important;
  display: none;
}


a#supportBtn {
  margin-left: 20px;
  width: 90%;
  display: block;
  background-color: rgba(90,171,188,0.5);
  /* padding-left: 50px; */
}

/* #giveBtn {
  margin-top: 25px;
  display: none;
} */

#requestBtn {
  margin: auto;
  display: block;
  max-width: 190px;
}

#alumni p {
  font-size: 22px;
  text-align: left;
}


.pplDrop a {
  width: 116.08px !important;
}

.tourDrop a {
  width: 106.33px;
}

.recDrop a {
  width: 161.05px;
}

.slider {
  position: relative;
}

.slider a {
  color: white;
  text-decoration: underline;
  display: inline;
}

.slider .slides li .caption {
  top: 8%;
  overflow: auto;
  color: white;
}

.slider .slides li .newsAction {
  bottom: 10%;
}

.slider h3 {
  margin: 0px 0px 0px 0px;
  font-size: 33px;
}


.slider .newsContent {
  margin-top: 10px !important;
  font-size: 22px;
  height: 225px;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.newsAction {
  font-weight: bold;
  color: white;
  font-size: 19px;
  margin-top: 8%;
}

#whoWeAre {
  font-size: 24px;
  height: 369px !important;
  margin: 0px 25px 0px 25px;
  overflow: auto;
  vertical-align: middle;
}


.recordings col {
  text-align: center;
}

.recordings ol {
  margin: 0px;
  padding: 0px 20px;
}

.recordings ol, .recordings .description {
  text-align: left;
  list-style-position: inside;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  font-size: 14px;
}

.recordings img {
  width: 100%;
}

.recordings .songList ol h6 {
  text-decoration: underline;
}

#upArrow {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 5.55%;
  color: white;
}

#downArrow {
  visibility: hidden;
  position: absolute;
  top: 45%;
  right: 5.55%;
  color: white;
}

span.songTitle {
  font-weight: bold;
}

.row#pages {
  position: sticky;
  top: 10px;
  left: 0px;
}

.pagination {
  background-color: #002b5c;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 5px 0px;
  width: 100%;
}

ul.pagination li a {
  color: white;
  font-size: 22px;
}


ul.pagination li.active a {
  background-color: rgb(177, 141, 3);
}

ul.pagination li a i.material-icons {
  color: white;
}

ul.pagination li.disabled a i.material-icons {
  color: gray;
}

h3 i.material-icons {
  font-size: 2.5rem;
}

.tour-description, .contactInfo, #aearlier ul li {
  font-size: 24px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

#alumniSteps {
  font-size: 22px;
}

.icons-container, .alumni-container {
  text-align: center;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fixed_links {
  text-decoration: underline;
  color: black;
}


div#directorNote {
  font-family: 'Bellefair', serif;
  line-height: 60px;
  letter-spacing: 3px;
  font-size: 28px;
}


@media screen and (max-width: 600px) {
  ul.pagination li a {
    font-size: 25px;
  }

  #newsHeader {
    margin-top: 60px;
  }

  #whoWeAre {
    overflow: visible;
    height: unset !important;
  }


  #WhoReadMore {
    font-size: 24px;
  }

  #invisibleWhoReadMore {
    display: none;
  }

  #invisibleDirectorReadMore {
    display: none;
  }

  #invisibleAlumniReadMore {
    display: none;
  }

  .slider .newsContent {
    font-size: 28px;
    margin-top: -20px !important;
  }

  .pagination {
    display: none !important;
  }

  div#directorNote {
    line-height: 50px;
    letter-spacing: 2.5px;
    font-size: 30px;
  }

  h1:not(#NDLC), h2 {
    font-size: 48px;
  }

  #NDLC {
    font-size: 44px;
  }

}

@media screen and (min-width: 601px) {

  #aWord {
    margin-bottom: 55px !important;
  }

  #whoWeAreHeader {
    margin-bottom: 62px !important;
  }

  #invisibleWhoReadMore {
    display: block !important;
  }

  #invisibleDirectorReadMore {
    display: block !important;
  }

  #invisibleAlumniReadMore {
    display: block !important;
  }

}

@media screen and (max-width: 850px) {
  .slider .caption h3 {
    display: none;
  }
  .slider .caption .newsAction {
    display: none;
  }
  .slider .newsContent {
    height: 400px;
  }

}

@media screen and (max-width: 992px) {
  .card-title:not(.moreinfo) {
    font-size: 22px !important;
  }
  #people .card-content p {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 1000px) {
  .smallBottom {
    display: block;
  }
  .bigBottom {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .smallBottom {
    display: none;
  }
  .bigBottom {
    display: block;
  }
}

@media screen and (max-width: 717px) {
  #supportBtn {
    visibility: hidden;
  }
  #searchBar {
    visibility: hidden;
  }
  #titleRowUND {
    display: block;
  }
  #titleRowDSA {
    display: block;
  }
  #titleRow {
    display: none;
  }
}

@media screen and (min-width: 718px) {
  #supportBtn {
    visibility: visible;
  }
  #searchBar {
    visibility: visible;
  }
  #titleRowUND {
    display: none;
  }
  #titleRowDSA {
    display: none;
  }
  #titleRow {
    display: block;
  }
}

@media screen and (max-width: 466px) {
  #brandRow {
    height: 228.7px;
  }
}

@media screen and (min-width: 467px) and (max-width: 600px) {
  #brandRow {
    height: 176.7px;
  }
}

@media screen and (max-width: 1054px) and (min-width: 601px) {
  #brandRow {
    height: 200.7px;
  }
  #searchBar {
    margin-top: 60px;
  }
  #supportBtn {
    margin-top: 80px;
  }
}
/*
@media screen and (max-width: 599px) and (min-width: 568px) {
  #brandRow {
    height: 200px;
  }
  #searchBar {
    margin-top: 60px;
  }
  #supportBtn {
    margin-top: 80px;
  }
} */

@media screen and (min-width: 1055px) {
  #searchBar {
    margin-top: 40px;
  }
  #brandRow {
    height: 150px;
  }
  #supportBtn {
    margin-top: 57px;
  }
}

@media screen and (max-width: 463px) {
  .navbar {
    height: 171px;
    padding: 3px;
  }
}


@media screen and (min-width: 464px) and (max-width: 883px) {
  .navbar {
    height: 110px;
    padding: 3px;
  }
}


@media screen and (min-width: 884px) {
  .navbar {
    height: 50px;
    padding: 0px;
  }
}

.ReadMore {
  font-family: 'Forum', cursive;
  font-weight: bolder;
  cursor: pointer;
  font-size: 25px;
  color: black;
}

#NotreDame {
  font-size: 37px;
}
